.header{
    height: 37px;
    background-color: #33383C;
    padding-left: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 302px;
}
.container{
    width: 320px;
}
.global{
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.container{
    margin: 0;
    padding: 0;
    position: static;
}
.block-3d{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 15px;
}
.nav-t{
    text-transform: capitalize;
    font-family: "Montserrat",sans-serif;
color:#ffffff;
font-size: 3.5vw;/* Приближение из-за подстановки шрифтов */
font-weight: 500;

}

.menu-hamburger-appear{
    display: none;

    position: absolute;
    right: 0px;
    box-sizing: border-box;
    z-index: 999;
    /* position: absolute;
    top:0;
    right:0; */

}
.black-color{
    background: #1A2024;
}
.menu-hamberger{
    
   
    display: block;
   
    background: #1A2024;
}


.link-in-hamburger{
    overflow: hidden;
    display: flex;
    align-items: center;
    text-transform: none;
  
width: 170px;
height: 32.2px;
padding-left: 12px;
    font-style: 17px;
    font-family: "Lato",sans-serif;
    background-color: white;
    color: #1A2024;
 

}
a{
    text-decoration: none;
    
}
.icon-hamburger .block-3d div{
    width: 15px;
    height: 2px;
    background-color: white;
    float: right;
}

.icon-hamburger{
    right: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 37px;
    position: relative;
}
.div2{
    margin-top: 3px;
}
.div3{
    margin-top: 3px;
}
.main-bg-of-site{
    
    padding-left: 20px;
    background-image: url('../img/main-img-320.jpg');
    height: 37vw;
    background-size:cover; 
    padding-top: 19px;
}
.header-for-HD{
    display: none;
}
.title{

font-family: "Lato",sans-serif;
color:#ffffff;
font-size: 5vw;
font-weight: 700;
margin-bottom: 5px;
text-align: left;
}
.link-in-main-par{
    text-decoration: none;
    font-family: "Lato",sans-serif;
color:#a6d6e0;
font-size: 4vw;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: left;
}
.parts-of-menu{
    flex-wrap: wrap;
    
    display: flex;
    width: 100%;

}
.b-img-in-part-of-menu{
    display: flex;
justify-content: center;
align-items: center;
    width: 79.6%;
    height: 75px;
    background-size:cover; 
}
.firts-photo-320{
    background-image: url('../img/img1.jpg');
}
.second-photo-320{
    background-image: url('../img/img2.jpg');
    background-size:cover; 
}
.third-photo-320{
    background-image: url('../img/img3.jpg');
    background-size:cover; 
}
.item-of-part-of-menu{
    margin-top: 3px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    width: 100%;
    height: 75px;
    display: flex;
}
.arrow-green-in-part-of-menu{
    width: 22.18%;
    height: 75px;
    background: #ABD6AC;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Lato",sans-serif;

}
.note-in-b-in-part-of-menu{
    font-family: "Lato",sans-serif;
color:
#ffffff;
font-size: 4vw;/* Приближение из-за подстановки шрифтов */
font-weight: 700;

}
.title-of-menu-section{
    font-family: "Lato",sans-serif;
color:#3f4043;
font-size: 20.07px;
font-weight: 400;
text-transform: uppercase;
margin-top: 26px;
margin-left: 9px;
}

.note-under-title-of-menu-section{
    margin-left: 9px;
    font-family: "Lato",sans-serif;
color:
#cbcdce;
font-size: 10.03px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

}
.title-of-section-of-menu-blue-type{
    width: 301px;
    background: #3E3F43;
    display: flex;
    margin-top: 10px;
    padding-left:  19px;
    align-items: center;
    text-transform: uppercase;
    font-family: "Lato";
color:#acd9ad;
font-size: 20.07px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
height: 37px;
}
.head-of-block{
    font-family: "Lato",sans-serif;
color:
#3f4043;
font-size: 15.05px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
text-transform: uppercase;
}
.head-of-block-of-the-menu{
    display: flex;
    justify-content: space-between;
    
    align-items: center;

}
.txt-footer-hd{
    display: none;
}
.menu-block{
    width: 286px;
    margin-top: 11px;
}
.center-alignment{
    display: flex;
    justify-content: center;
}
.img-of-head-of-block-menu{
    width: 25px;
    height: 25px;

    background-image: url('../img/img-dish-1.png');
}
.price-and-title-of-the-dish{
    display: flex;
   
    justify-content: space-between;
}
.title-of-the-dish{
    font-family: "Lato",sans-serif;
color:#3f4043;
font-size: 13.55px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
}
.align-menu-global{
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.price-of-the-dish{
    font-family: "Lato",sans-serif;
color:#3f4043;
font-size: 13.55px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;

}
.inforamtion-about-the-dish{
    font-family: "Lato",sans-serif;
color:#3f4043;
font-size: 9.5px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
margin-top: 8px;

}
.inf-about-the-dish{
    margin-top: 16px;
}
.second-img-menu{
    background-image: url('../img/img-dish-2.png');
    width: 13px;
height: 24px;

}
.head-of-block-of-the-menu{
    margin-top: 16px;
}
.green-type{
    color: white;
    background: #ABD6AC;
}
.cup-img{
    background-image: url('../img/img-dish-3.png');
    width: 30px;
    height: 21px;
}
.beer{
    background-image: url('../img/img-dish-4.png');
    width: 21px;
height: 20px;
}
.txt-in-footer{
    display: block;
}
.footer{
    height: 55px;
    background:rgb(171, 214, 172);
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 48px;

}
.img-footer{
    display: none;
}
.first-text-in-footer{
    font-family: "Montserrat",sans-serif;
color:
#ffffff;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

text-align: center;
margin-bottom: 0px;

}
.second-text-in-footer{
    margin-top: 5px;
    font-family: "Montserrat",sans-serif;
color:
#ffffff;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;

text-align: center;

}
@media (min-width:640px) and (max-width: 1200px){
    .icon-hamburger .block-3d div{
        width: 35px;
        height: 3px;
    }
    #div2{
        margin-top: 10px;
    }
    #div3{
        margin-top: 10px;
    }
    .header{
        width: 621px;
    }
    .title-of-menu-section{
        font-size: 40px;
        margin-top: 45px;
    }
    .note-under-title-of-menu-section{
        font-size: 20px;
    }
    .footer-hd{
        display: none;
    }
    .head-of-block{
        font-size: 27px;
    }
    .inforamtion-about-the-dish{
        font-size: 17.5px;
    }
    .icon-hamburger{
        height: 74px;
        width: 74px;
    }
    .icon-hamburger div{
        width: 30px;
       
    }
   
    .title-of-section-of-menu-blue-type{
        font-size: 40px;
        height: 75px;
        margin-top: 20px;
        width: 600px;
    }
    .txt-footer-hd{
        display: none;
    }
    .title-of-the-dish{
        
        font-size: 27px;
    }
    .b-img-in-part-of-menu{
        height: 150px;
    }
    .price-and-title-of-the-dish{
        margin-top: 37px;
    }
    .price-of-the-dish{
        font-size: 27px;
    }
    .img-of-head-of-block-menu{
        background-image: url('../img/img8.png');
        width: 49px;
     height: 48px;
    }
    .second-img-menu{
        background-image: url('../img/img10.png');
        width: 27px;
height: 48px;


    }
    .cup-img{
        background-image: url('../img/img11.png');
        width: 61px;
        height: 42px;
    }
    .beer{
        background-image: url('../img/img9.png');
        width: 43px;
        height: 42px;
    }
    .item-of-part-of-menu{
        height: 150px;
    }
    .container{
        width: 640px;
    }
    .main-bg-of-site{
        height: 346px;
        background-image: url('../img/section-bg-640.jpg');
    }
    .firts-photo-320{
        background-image: url('../img/img5.png');
    }
    .second-photo-320{
        background-image: url('../img/img6.jpg');
    }
    .third-photo-320{
        background-image: url('../img/img7.jpg');
    }
    .nav-t{
        font-size: 24px;
    }
    .arrow-green-in-part-of-menu{
        height: 150px;
    }
    .txt-footer-hd{
        display: block;
    }
    .header{
        height: 74px;
    }
    .second-text-in-footer{
        font-size: 18px;
    }
    .first-text-in-footer{
        font-size: 18px;
    }
    .img-footer{
        display: none;
    }
    .footer{
        height: 97px;
    }
    .menu-block{
        width: calc(640px - 140px);
    }
    .footer-hd{
        display: none;
    }
    .txt-in-footer{
        display: block;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }
    .header{
        display: none;
    }
    .header-for-HD{
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 97px;
        background-color: #363B3E;
        padding-left: 37px;

    }
    .nav-bar-hd{
        width: 600px;
        display: flex;
        justify-content: space-between;

    }
    .item-hd-nav{
        font-family: "Montserrat",sans-serif;
color:
#ececec;
font-size: 15px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 26px;/* Приближение из-за подстановки шрифтов */
text-align: left;
    }
    .header-for-HD img{
        right: 38px;
    }
    .item-of-part-of-menu{
        flex-basis: 33.33%;
        width: 400px;
height: 400px;

    }
    .b-img-in-part-of-menu{
        width: 100%;
        height: 100%;
    }
    .arrow-green-in-part-of-menu{
        display: none;
    }
    .firts-photo-320{
        background-image: url('../img/img15.jpg');
    }
    .second-photo-320{
        background-image: url('../img/img16.jpg');
    }
    .third-photo-320{
        background-image: url('../img/img17.jpg');
    }
    .main-bg-of-site{
        background-image: url('../img/bg-1200.jpg');
    }
    .title-of-menu-section{
        font-size: 40px;
    }
    .note-under-title-of-menu-section{
        font-size: 20px;
    }
    .tlt-menu{
        display: flex;
        justify-content: space-between;
    }
    .img-tlt{
        width: 120px;
        height: 98px;
        background-image: url('../img/menu-logo.png');
    }
    .first-section-of-menu{
        flex-basis: 50%;
    }
    .second-part-of-menu{
        flex-basis: 50%;
    }
    .menu-block{
        margin-top: 0;
        width: 95%;
    }
    .head-of-block{
        font-size: 30px;
    }
    .title-of-the-dish{
        font-size: 30px;
    }
    .price-of-the-dish{
        font-size: 27px;
    }
    .inforamtion-about-the-dish{
        font-size: 17.5px;
    }
    .title-of-section-of-menu-blue-type{
        font-size: 40px;
        height: 75px;
        width: 581px;
    }
    .img-of-head-of-block-menu{
        background-image: url('../img/img18.png');
        width: 49px;
height: 48px;
    }
    .cup-img{
        width: 61px;
height: 42px;
        background-image: url('../img/img19.png');
    }
    .second-img-menu{
        background-image: url('../img/img20.png');
        width: 27px;
        height: 48px;
    }
    .beer{
        height: 42px;
        width: 43px;
        background-image: url('../img/img21.png');
    }
    .head-of-block-of-the-menu{
        margin-bottom: 37px;
        height: 48px;
    }
    .inforamtion-about-the-dish{
        margin-bottom: 22px;
    }
    .txt-in-footer{
        display: none;
    }
    .txt-footer-hd{
        display: block;
    }
    .img-footer{
        display: block;
    }
    .footer{
        height: 97px;
    }
    .footer-hd{
        display: flex;
        justify-content: space-between;
        width: 1125px;
        align-items: center;
    }
}


.txt-footer-hd{
    
    font-family: "Montserrat",sans-serif;
color:
#ffffff;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 400;
line-height: 26px;/* Приближение из-за подстановки шрифтов */

}
.img-footer{
 
    background-image: url('../img/navigation-logo.png');
    width: 104px;
height: 83px;
}

